<%- include ('../partials/header'); -%>

<div class="container">
    
    <header class="jumbotron">
        <div class="container">
            <h1>Wecome to Campground</h1>
            <p>This is our top campgrounds</p>
            <a href="/campground/new"class="btn btn-primary">Add new campgorund</a>
        </div>
    </header>
   

<div class="row" style="display: flex; flex-wrap: wrap;">
<% campgrounds.forEach(function(campground){ %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
        
            <img  src="<%= campground.image %>">
        
            <div class="caption">
                <h6><%= campground.name %></h6>
            </div>
            <p>
                <a href="/campground/<%= campground._id %>" class="btn btn-primary">More Info</a>
            </p>
        </div>
    </div>
<% }); %>
</div>
</div>
<%- include ('../partials/footer'); -%>

